div.bfng-logo {
	position: relative;
	with: 100%;
	text-align: center;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
	background-image: url('/images/real_cf.png');

	h1 {
		font-family: "impact";
		font-size: 60px;
		display: inline-block;
		margin: 20px 0;
		letter-spacing: 12px;
		color: #f37046;
		text-shadow: -3px -3px 0px white, 3px -3px 0px white, -3px 3px 0px white, 3px 3px 0px white;
		cursor: pointer;

		&:hover span {
			opacity: 1;
		}

		span {
			position: absolute;
			font-size: 20px;
			color: white;
			text-shadow: none;
			letter-spacing: initial;
			bottom: 0;
			left: 0;
			right: 0;
			margin-left: -12px;
			opacity: 0;
			transition: 0.4s;
		}
	}
}



div.input-wrapper {
	position: relative;
	width: 90%;
	max-width: 500px;
	margin: 0 auto;
	margin-top: 30px;
	padding: 30px;
	background-color: white;
	border-radius: 3px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);


	button {
		position: relative;
		font-size: 30px;
		width: 150px;
		height: 70px;
		left: 50%;
		margin: 20px 0 20px -75px;
		color: white;
		border: 0px solid white;
		border-bottom: 5px solid white;
		border-radius: 3%;
		outline: 0;
		cursor: pointer;

		&:active {
			border: 0px;
			margin-top: 25px;
			background-color: #f3423f;
		}
	}

	button.test {
		background-color: #47b89d;
		border-bottom-color: darken(#47b89d, 10%)
	}

	button.fire {
		
		background-color: #f37046;
		border-bottom-color: darken(#f37046, 20%);
	}
}

@height-cloak: 60px;
@width-cloak: 350px;
div.loading-cloak {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index: 999;
	display: none;

	div {
		position: absolute;
		width: @width-cloak;
		height: @height-cloak;
		top: 50%;
		margin-top: -1 * (@height-cloak / 2);
		left: 50%;
		margin-left: -1 * (@width-cloak / 2);
		font-size: @height-cloak;
		display: block;
		color: white;
		text-align: center;
	}
}