@import "_globals";


div.setup-step {

	strong {

		span {
			margin-left: 40px;
			cursor: pointer;

			&:hover, &:active {
				text-decoration: underline;
			}
		}
	}

	li {
		margin-bottom: 6px;
	}
}

iframe.yun-setup {
	width: 100%;
	height: 500px;
	border: 0;
	margin: 0;
	padding: 0;
}