extends layout

block content

	section(ng-controller="MainController")

		div(class="loading-cloak")
			div
				i(class="fa fa-circle-o-notch fa-spin")

		div(class="bfng-logo")
			h1= title
				span= name

		div(class="input-wrapper")
			label(for="ipaddress") IP Address
				i(class="fa fa-at")
			input(id="ipaddress" type="text" ng-model="ip_address" select-on-focus)

			label(for="xaxis") X Axis
				i(class="fa fa-arrows-h")
			input(id="xaxis" type="number" ng-model="x_axis" select-on-focus focus)

			label(for="yaxis") Y Axis
				i(class="fa fa-arrows-v")
			input(id="yaxis" type="number" ng-model="y_axis" select-on-focus)

			label(for="firecount") Fire Count
				i(class="fa fa-fire")
			input(id="firecount" type="number" ng-model="firecount" select-on-focus)
			
			button(class="fire" ng-click="SendCommand()") FIRE&nbsp;&nbsp;
				i(class="fa fa-play")

			label(for="query")  Http Request
				i(class="fa fa-cloud-upload")
			input(id="query" type="text" ng-model="query" readonly)

			label(for="response") Http Response
				i(class="fa fa-cloud-download")
			input(id="response" type="text" ng-model="response" readonly)
