doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/common.css')
    link(rel='stylesheet' href='/stylesheets/index.css')

    script(type="text/javascript" src="/javascripts/jquery-2.1.3.min.js")
    script(type="text/javascript" src="/javascripts/angular.min.js")
    script(type="text/javascript" src="/javascripts/command_definitions.js")

    script(type="text/javascript" src="/javascripts/angular/bfng.js")
    script(type="text/javascript" src="/javascripts/angular/controllers/main_controller.js")
    script(type="text/javascript" src="/javascripts/angular/services/common_service.js")
    script(type="text/javascript" src="/javascripts/angular/services/command_service.js")
    script(type="text/javascript" src="/javascripts/angular/services/query_string_service.js")
    script(type="text/javascript" src="/javascripts/angular/directives/dom_directive.js")
  
  body(ng-app="bfng")
    block content