extends ../layout

block content

	div(class="content-slate")

		strong Fill in the form below
		br

		div(class="input-label")
			label(for="name") Vulcan Name
			input(id="name" type="text" focus)


		div(class="input-label")
			label(for="owner") Owner's Name
			input(id="owner" type="text")

		button(class="primary lg") Save